langchain
langchain-openai
langchain-huggingface
sentence-transformers
langchain-community
langchain-core
langfuse
pydantic
python-dotenv
faiss-cpu
tiktoken
unstructured
markdown
fastapi
uvicorn
python-multipart
